<aside id="sidebar" class="column">
  <% if signed_in? %>
	<h3>Master</h3>
	<ul class="toggle">
	  <li class="icn_tags"><%= link_to "Kelompok", kelompoks_path %></li>
	  <li class="icn_new_article"><%= link_to "Divisi", divisis_path %></li>
	  <li class="icn_edit_article"><%= link_to "Unit kerja", unit_kerjas_path %></li>		    
	</ul>
	<h3>Transaksi</h3>
    <ul class="toggle">
	  <li class="icn_add_user"><a href="#">Asset</a></li>
	  <li class="icn_view_users"><a href="#">Penerimaan</a></li>
	  <li class="icn_profile"><a href="#">Mutasi</a></li>
	  <li class="icn_profile"><a href="#">Penyesusaian</a></li>
	</ul>
	<h3>Laporan</h3>
	<ul class="toggle">
	  <li class="icn_add_user"><a href="#">Asset</a></li>
	  <li class="icn_view_users"><a href="#">Penerimaan</a></li>
	  <li class="icn_profile"><a href="#">Mutasi</a></li>
	  <li class="icn_profile"><a href="#">Penyesusaian</a></li>
	</ul>
	<footer>
	  <p><strong>Copyright &copy; 2011 Medco Asset</strong></p>
	</footer>
  <% end %>
</aside>