	<div class="span9">
			
			<div class="row-fluid">
				<div class="span6">PENERIMAAN<p>
				Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
				Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
				Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
				
				</div>
				
				<div class="span6">MUTASI<p>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				</div>
			</div>
				<hr>
			<div class="row-fluid">
				<div class="span6">ASET<p>
				Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
				Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
				Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
				
				</div>
			
				<div class="span6">PENYESUAIAN<p>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
				</div>
			</div>
			
			
	</div>
</div>
				
			